USE [master]
GO
/****** Object:  Database [qlqa]    Script Date: 02/05/2024 2:03:30 CH ******/
CREATE DATABASE [qlqa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qlqa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\qlqa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'qlqa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\qlqa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qlqa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [qlqa]
GO
/****** Object:  Table [dbo].[BanAn]    Script Date: 02/05/2024 2:03:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BanAn](
	[MaBan] [int] IDENTITY(1,1) NOT NULL,
	[TrangThai] [nvarchar](10) NULL,
	[TenBan] [varchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaBan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 02/05/2024 2:03:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaChiTietHD] [int] IDENTITY(1,1) NOT NULL,
	[MaHD] [int] NULL,
	[MaMon] [varchar](20) NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhMucMon]    Script Date: 02/05/2024 2:03:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhMucMon](
	[MaDM] [varchar](20) NOT NULL,
	[TenDM] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 02/05/2024 2:03:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [int] IDENTITY(1,1) NOT NULL,
	[NgayTao] [date] NOT NULL,
	[NgayThanhToan] [date] NULL,
	[MaBan] [int] NULL,
	[TinhTrang] [varchar](30) NULL,
	[MaNV] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 02/05/2024 2:03:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [nvarchar](255) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MonAn]    Script Date: 02/05/2024 2:03:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MonAn](
	[MaMon] [varchar](20) NOT NULL,
	[TenMon] [nvarchar](30) NULL,
	[Gia] [float] NULL,
	[MaDM] [varchar](20) NULL,
	[Cell] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 02/05/2024 2:03:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [varchar](10) NOT NULL,
	[HoTen] [nvarchar](50) NULL,
	[SDT] [varchar](10) NULL,
	[NgaySinh] [date] NULL,
	[MaTK] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quyen]    Script Date: 02/05/2024 2:03:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quyen](
	[MaQ] [varchar](20) NOT NULL,
	[TenQ] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 02/05/2024 2:03:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[MaTK] [varchar](50) NOT NULL,
	[TK] [nvarchar](50) NULL,
	[mk] [nvarchar](50) NULL,
	[MaQ] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BanAn] ON 

INSERT [dbo].[BanAn] ([MaBan], [TrangThai], [TenBan]) VALUES (22, N'Trống', N'B1')
INSERT [dbo].[BanAn] ([MaBan], [TrangThai], [TenBan]) VALUES (23, N'', N'B2')
INSERT [dbo].[BanAn] ([MaBan], [TrangThai], [TenBan]) VALUES (24, N'', N'B3')
SET IDENTITY_INSERT [dbo].[BanAn] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] ON 

INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHD], [MaHD], [MaMon], [SoLuong]) VALUES (58, 23, N'DU001', 1)
INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHD], [MaHD], [MaMon], [SoLuong]) VALUES (59, 24, N'DU001', 4)
INSERT [dbo].[ChiTietHoaDon] ([MaChiTietHD], [MaHD], [MaMon], [SoLuong]) VALUES (60, 27, N'DU001', 3)
SET IDENTITY_INSERT [dbo].[ChiTietHoaDon] OFF
GO
INSERT [dbo].[DanhMucMon] ([MaDM], [TenDM]) VALUES (N'DM001', N'Đồ Uống ')
INSERT [dbo].[DanhMucMon] ([MaDM], [TenDM]) VALUES (N'DM002', N'Đồ Mặn ')
INSERT [dbo].[DanhMucMon] ([MaDM], [TenDM]) VALUES (N'DM003', N'Đồ Nhậu ')
GO
SET IDENTITY_INSERT [dbo].[HoaDon] ON 

INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [NgayThanhToan], [MaBan], [TinhTrang], [MaNV]) VALUES (21, CAST(N'2024-05-01' AS Date), CAST(N'2024-05-01' AS Date), 22, N'0', N'NV001')
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [NgayThanhToan], [MaBan], [TinhTrang], [MaNV]) VALUES (23, CAST(N'2024-05-01' AS Date), CAST(N'2024-05-01' AS Date), 22, N'0', N'NV001')
INSERT [dbo].[HoaDon] ([MaHD], [NgayTao], [NgayThanhToan], [MaBan], [TinhTrang], [MaNV]) VALUES (24, CAST(N'2024-05-02' AS Date), NULL, 23, N'1', N'NV001')
SET IDENTITY_INSERT [dbo].[HoaDon] OFF
GO
INSERT [dbo].[MonAn] ([MaMon], [TenMon], [Gia], [MaDM], [Cell]) VALUES (N'DU001', N'Nước cam ép', 250000, N'DM001', 8)
INSERT [dbo].[MonAn] ([MaMon], [TenMon], [Gia], [MaDM], [Cell]) VALUES (N'DU002', N'Cà phê sữa đá', 300000, N'DM001', 3)
INSERT [dbo].[MonAn] ([MaMon], [TenMon], [Gia], [MaDM], [Cell]) VALUES (N'DU003', N'Trà sữa trân châu', 350000, N'DM001', 3)
GO
INSERT [dbo].[NhanVien] ([MaNV], [HoTen], [SDT], [NgaySinh], [MaTK]) VALUES (N'NV001', N'Nam', N'0987654321', CAST(N'2004-05-18' AS Date), N'NV0001')
GO
INSERT [dbo].[Quyen] ([MaQ], [TenQ]) VALUES (N'admin', N'admin')
INSERT [dbo].[Quyen] ([MaQ], [TenQ]) VALUES (N'nv', N'nv')
GO
INSERT [dbo].[TaiKhoan] ([MaTK], [TK], [mk], [MaQ]) VALUES (N'Admin', N'Admin', N'Admin', N'admin')
INSERT [dbo].[TaiKhoan] ([MaTK], [TK], [mk], [MaQ]) VALUES (N'NV0001', N'NV0001', N'123456789', N'nv')
INSERT [dbo].[TaiKhoan] ([MaTK], [TK], [mk], [MaQ]) VALUES (N'NV0002', N'NV0002', N'123456789', N'nv')
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaMon])
REFERENCES [dbo].[MonAn] ([MaMon])
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaBan])
REFERENCES [dbo].[BanAn] ([MaBan])
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[MonAn]  WITH CHECK ADD FOREIGN KEY([MaDM])
REFERENCES [dbo].[DanhMucMon] ([MaDM])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([MaTK])
REFERENCES [dbo].[TaiKhoan] ([MaTK])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([MaQ])
REFERENCES [dbo].[Quyen] ([MaQ])
GO
/****** Object:  StoredProcedure [dbo].[checkout]    Script Date: 02/05/2024 2:03:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[checkout]
    @MaHD int,
    @MaBan int
AS
BEGIN
    SET NOCOUNT ON;
    
    UPDATE HoaDon  
    SET TinhTrang = '0', NgayThanhToan = GETDATE() 
    WHERE MaHD = @MaHD;

    UPDATE BanAn 
    SET TrangThai = N'Trống' 
    WHERE MaBan = @MaBan;
END;
GO
/****** Object:  StoredProcedure [dbo].[GopSoLuongChiTietHoaDon]    Script Date: 02/05/2024 2:03:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GopSoLuongChiTietHoaDon]
AS
BEGIN
    -- Tạo bảng tạm thời để lưu trữ tổng số lượng của từng món trong hóa đơn
    CREATE TABLE #TempSoLuongChiTietHoaDon (
        MaHD INT,
        MaMon VARCHAR(20),
        TongSoLuong INT
    );

    -- Tính tổng số lượng của từng món trong hóa đơn và lưu vào bảng tạm thời
    INSERT INTO #TempSoLuongChiTietHoaDon (MaHD, MaMon, TongSoLuong)
    SELECT MaHD, MaMon, SUM(SoLuong) AS TongSoLuong
    FROM dbo.ChiTietHoaDon
    GROUP BY MaHD, MaMon;

    -- Xóa các chi tiết hóa đơn cũ
    DELETE FROM dbo.ChiTietHoaDon
WHERE EXISTS (
    SELECT 1
    FROM #TempSoLuongChiTietHoaDon Temp
    WHERE dbo.ChiTietHoaDon.MaHD = Temp.MaHD
    AND dbo.ChiTietHoaDon.MaMon = Temp.MaMon
);

    -- Thêm các chi tiết hóa đơn mới với số lượng được gộp lại từ bảng tạm thời
    INSERT INTO dbo.ChiTietHoaDon (MaHD, MaMon, SoLuong)
    SELECT MaHD, MaMon, TongSoLuong
    FROM #TempSoLuongChiTietHoaDon;

    -- Xóa bảng tạm thời
    DROP TABLE #TempSoLuongChiTietHoaDon;
END;
GO
/****** Object:  StoredProcedure [dbo].[HoaDonchuyenban]    Script Date: 02/05/2024 2:03:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROC [dbo].[HoaDonchuyenban]
@idBanDau INT,
@idBanMoi INT
AS
BEGIN
    DECLARE @idHoaDonCu INT, @idHoaDonMoi INT
    
    -- Lấy ID của hóa đơn liên kết với bàn đầu tiên
    SELECT @idHoaDonCu = MaHD
    FROM dbo.HoaDon
    WHERE MaBan = @idBanDau AND TinhTrang = N'1'

    -- Lấy ID của hóa đơn liên kết với bàn thứ hai
    SELECT @idHoaDonMoi = MaHD
    FROM dbo.HoaDon
    WHERE MaBan = @idBanMoi AND TinhTrang = N'1'

    -- Nếu không có hóa đơn nào liên kết với bàn thứ hai, cập nhật hóa đơn của bàn cũ sang bàn mới
    IF @idHoaDonMoi IS NULL
    BEGIN
        UPDATE dbo.HoaDon
        SET MaBan = @idBanMoi
        WHERE MaHD = @idHoaDonCu
    END
    -- Nếu có hóa đơn đang tồn tại trên bàn mới, gộp hóa đơn của bàn cũ vào hóa đơn của bàn mới
    ELSE
    BEGIN


        -- Cập nhật MaBan của hóa đơn của bàn cũ sang bàn mới
        UPDATE dbo.HoaDon
        SET MaBan = @idBanMoi
        WHERE MaHD = @idHoaDonCu;

        -- Gộp các mục trong bảng ChiTietHoaDon vào hóa đơn của bàn mới
        UPDATE dbo.ChiTietHoaDon
        SET MaHD = @idHoaDonMoi
        WHERE MaHD = @idHoaDonCu;
		EXEC GopSoLuongChiTietHoaDon;


        -- Xóa hóa đơn của bàn cũ sau khi đã gộp
        DELETE FROM dbo.HoaDon WHERE MaHD = @idHoaDonCu;
    END

    -- Cập nhật trạng thái của các bàn
    UPDATE dbo.BanAn
    SET TrangThai = N'Trống'
    WHERE MaBan = @idBanDau;

    UPDATE dbo.BanAn
    SET TrangThai = N''
    WHERE MaBan = @idBanMoi;
END
GO
/****** Object:  StoredProcedure [dbo].[InsertChiTietHoaDon]    Script Date: 02/05/2024 2:03:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertChiTietHoaDon]
    @MaHD INT,
    @MaMon VARCHAR(20),
    @SoLuong INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @check INT;
    SELECT @check = COUNT(*) FROM ChiTietHoaDon WHERE MaHD = @MaHD AND MaMon = @MaMon;
    
    IF (@check > 0)
    BEGIN
        IF (@SoLuong < 0)
        BEGIN
            DECLARE @CurrentSoLuong INT;
            SELECT @CurrentSoLuong = SoLuong FROM ChiTietHoaDon WHERE MaHD = @MaHD AND MaMon = @MaMon;

            IF (ABS(@SoLuong) > @CurrentSoLuong)
            BEGIN
                -- Giảm trường cell trong MonAn bằng số lượng hiện tại
                UPDATE MonAn SET cell = cell - @CurrentSoLuong WHERE MaMon = @MaMon;
				DELETE FROM ChiTietHoaDon WHERE MaHD = @MaHD AND MaMon = @MaMon;
            END
            ELSE
            BEGIN
                -- Cập nhật lại trường cell trong MonAn khi số lượng mới nhỏ hơn hoặc bằng số lượng hiện tại
                UPDATE MonAn SET cell = cell + @SoLuong WHERE MaMon = @MaMon;
				-- Cập nhật số lượng trong ChiTietHoaDon
                UPDATE ChiTietHoaDon SET SoLuong = SoLuong + @SoLuong WHERE MaHD = @MaHD AND MaMon = @MaMon;
            END
        END
        ELSE
        BEGIN
            -- Cập nhật số lượng trong ChiTietHoaDon và MonAn khi số lượng mới là số dương
            UPDATE ChiTietHoaDon SET SoLuong = SoLuong + @SoLuong WHERE MaHD = @MaHD AND MaMon = @MaMon;
            UPDATE MonAn SET cell = cell + @SoLuong WHERE MaMon = @MaMon;
        END
    END
    ELSE 
    BEGIN
        -- Nếu không có dữ liệu, thêm một bản ghi mới vào ChiTietHoaDon
        INSERT INTO ChiTietHoaDon (MaHD, MaMon, SoLuong) VALUES (@MaHD, @MaMon, @SoLuong);
        -- Tăng trường cell trong MonAn
        UPDATE MonAn SET cell = cell + @SoLuong WHERE MaMon = @MaMon;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[InsertHoaDon]    Script Date: 02/05/2024 2:03:30 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertHoaDon]
    @MaNV VARCHAR(10),
    @MaBan INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @NgayTao DATE = GETDATE();
    DECLARE @NgayThanhToan DATE = NULL;
    DECLARE @TinhTrang VARCHAR(30) = '1';

    INSERT INTO HoaDon (NgayTao, NgayThanhToan, MaBan, TinhTrang, MaNV)
    VALUES (@NgayTao, @NgayThanhToan, @MaBan, @TinhTrang, @MaNV);

    UPDATE BanAn
    SET TrangThai = ''
    WHERE MaBan = @MaBan;
END;
GO
USE [master]
GO
